<div class="form-card">
  <h2>AMU Data</h2>

 <form [formGroup]="form" (ngSubmit)="submit()" class="form-card">

  <!-- ROW 1 -->
  <div class="row">
    <div class="col">
        <label>Facility</label>
        <select formControlName="facilityId">
            <option value="">Select Facility</option>
            <option *ngFor="let facility of facilities" [value]="facility.id">
            {{ facility.name }}
            </option>
        </select>
    </div>

    <div class="col">
        <label>Drug Name</label>
        <input type="text" formControlName="drugName">
    </div>
  </div>

  <!-- ROW 2 -->
  <div class="row">
    <div class="col">
        <label>Quantity</label>
        <input type="number" formControlName="quantity">
    </div>

    <div class="col">
      <label>Report Date</label>
      <input type="date" formControlName="reportDate">
    </div>
  </div>

  <div class="row">
     <div class="col">
        <label>Reason</label>
        <select formControlName="reason">
            <option value="" hidden>Select</option>
            <option>Skin redness, swelling, or hives</option>
            <option>Itching or irritation on the skin</option>
            <option>Swelling of lips, face, or throat</option>
            <option>Anaphylaxis</option>
            <option>Drug cannot be used again, alternative medicine needed</option>
        </select>
    </div>
  </div>

  <button type="submit" class="submit-btn">Submit</button>

</form>
</div>