<div class="form-card">
  <h2>IoT Data</h2>

 <form [formGroup]="form" (ngSubmit)="submit()" class="form-card">

  <!-- ROW 1 -->
  <div class="row">
    <div class="col">
        <label>Sensor ID</label>
        <input type="text" formControlName="sensorId">
    </div>
  </div>

  <div class="row">
    <div class="col">
        <label>Source</label>
        <select formControlName="type">
            <option value="" hidden>Select</option>
            <option value="Water source">Water source</option>
            <option value="Water treatment plant">Water treatment plant</option>
            <option value="Soil">Soil</option>
        </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>Value</label>
      <input type="text" formControlName="value">
    </div>
  </div>

  <button type="submit" class="submit-btn">Submit</button>

</form>
</div>